/* Hilangkan pagination bullets */
.swiper-pagination {
  display: none !important;
}

/* Perkecil tombol navigasi */
.swiper-button-next,
.swiper-button-prev {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #3b82f6;
  border-radius: 4px;
  color: #3b82f6;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px;
}
